@font-face {
  font-family: MontserrattBold;
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: MontserrattNormal;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: MontserratLight;
  src: url('../assets/fonts/Montserrat-Light.ttf');
}

//fonts
$FontBold: MontserrattBold; 
$FontNormal: MontserrattNormal;
$FontLight: MontserratLight;


//Orange
$main-orange: #FFB21D;
$light-orange: #F6BE52;


//White
$main-white: #FEF9F9;


//Black
$main-black: #171717;


//Red
$red-orange: #F36D6D;
$light-red: #E98F8F;


//Blue
$dark-blue: #212529;