@import "../../../global.scss";

::ng-deep.principal{
    background-color: $main-white;
    height: 100%;
}

.search{
    background-color: $main-orange;
}

.none-found{
    text-align: center;
    display: flex;
    height: 80vh;
}