<app-header></app-header>

<div class="principal">
  <ion-content [fullscreen]="true">
    <ion-content>
      <ion-searchbar class="search" searchIcon="location" placeholder="Buscar" inputmode="search" (ionInput)="search($event)">
      </ion-searchbar>
      <app-cards [listPersonals]="dataPersonal"></app-cards>
      
      <ion-content *ngIf="noneFound">
        <ion-title class="none-found">Ooops... nada encontrado!</ion-title>
      </ion-content>
    </ion-content>
  </ion-content>
</div>

<app-tabs></app-tabs>