@import "../../../theme/variables.scss";

.card-position{
  --background: $light-red;
  background-color:  #212529;
}

.cards{
  width: 100%;
  margin: 5%;
  border-radius: 2%;
  background-color: $main-orange;
  color: $main-black;
}

.name{
  color: $main-black;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 3%;
}
  
img{
  width: 100%;
}

.infos-card{
  color: $main-black;
  display: flex;
  align-items: center;

  img{
    width: 10%;
  }
  
  .infos-works{
    font-weight: bold;
    color: $main-black;
    padding-left: 8px;
    font-size: 16px;
  }
}