<ion-item class="card-position" *ngFor="let personal of listPersonals">
  <ion-card class="cards">
    <img src={{personal.image}} />
    <ion-card-header>
      <ion-card-title 
      style="color: black;
        text-align: center;
        font-weight: bolder;
        font-size: 22px;
        margin-bottom: 3%;"
      > {{ personal.name }}</ion-card-title>
      <div class="infos-card">
        <img src="../../../assets/images/iconWork.svg" style="  margin-bottom: 8px;">
        <ion-card-subtitle class="infos-works">{{personal.area}}</ion-card-subtitle>
      </div>
      <div class="infos-card">
        <img src="../../../assets/images/iconLocation.svg" style="width: 8%;">
        <ion-card-subtitle class="infos-works">{{personal.local}}</ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content>{{ personal.description }}</ion-card-content>
  </ion-card>
</ion-item>